/* 
<div.form-carousel__container>
    <div.form-carousel>
        <div.form-carousel__page>
            Content
        </div.form-carousel__page>
        ...
        <div.form-carousel__page>
            Content
        </div.form-carousel__page>
    </div.form-carousel>
    <div.navcontainer>
        <button(.hide)>Prev</button>
        <button>Next<button/>
    </div.navcontainer>
</div.form-carousel__container>
 */


.form-carousel__container {
  border: 1px solid lightgray;
  box-shadow: 3px 5px 5px lightgray;
  width: 400px;
  margin: 50px auto;
}

.form-carousel {}

.form-carousel__page {}

.form-carousel__page button {
  width: 100px;
  margin: 5px 5px;
  background-color: white;
  border: 1px solid gray;
}

.form-carousel__page button:hover {
  background-color: lightgrey;
}

.form-carousel__page input[type="radio"] {
  /* width: 50px; */
  margin: 0 10px;
}

.form-carousel__nav-container button {
  transition: all 0.6s, background-color 0s;
  width: 100px;
  margin: 5px 5px;
  background-color: white;
  border: 1px solid gray;
}

.form-carousel__nav-container button:hover {
    transition: all 0.6s, background-color 0s;
  background-color: lightgrey;
}

.form-carousel__nav-container button.hide {
  width: 0;
  padding: 0 !important;
  margin: 0;
  border: 0;
  opacity: 0;
  transition: 0.6s;
}
