/*
Default styling for CarouselForm. Edit this css or use "style"
attribute (may require css modules) to use your own styling
*/


/* 
<div.container>
    <div.form>
        <div.form__page>
            Content
        </div.form__page>
        ...
        <div.form__page>
            Content
        </div.form__page>
    </div.form>
    <div.navKeys-container>
        <button(.hide)>Prev</button>
        <button>Next<button/>
    </div.navKeys-container>
</div.container>
*/


.container {
  border: 1px solid black;
}

.form {
  transition: height 0.6s;
}

.form__page {
  padding: 10px;
}

.navKeys-container {
  padding: 10px;
  padding-top: 0;
  text-align: center;
}

.navKeys-container button {
  padding: 2px 5px;
  margin: 0 5px;
  width: 100px;
}

.navKeys-container button.hide {
  /* display: none; */
}
