.container {
  width: 100%;
  border: 1px solid black;
}

.form {
  width: inherit;
  max-width: inherit;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.form__page {
  box-sizing: border-box;
  width: inherit;
  max-width: inherit;
  flex: 0 0 auto;
  height: min-content;
}

.navcontainer {
  box-sizing: border-box;
  width: inherit;
  max-width: inherit;
}